main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 100vh;
  width: 100vw; */
  /* display: flex; */
}

main > div {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.671),
    rgb(255, 255, 255)
  );

  backdrop-filter: blur(3px);
}

@media (prefers-color-scheme: dark) {
  main > div {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.671),
      rgb(0, 0, 0)
    );
  }
}
