.gradient-overlay {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.671),
    rgb(255, 255, 255)
  );

  backdrop-filter: blur(3px);
}

@media (prefers-color-scheme: dark) {
  .gradient-overlay {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.671),
      rgb(0, 0, 0)
    );

    backdrop-filter: blur(3px);
  }
}
